.opening {
  height: 100%;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    padding: 50px;
  }

  .hi {
    font-size: 16px;

    @media (min-width: 320px) {
      font-size: 17px;
    }

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  .hi .logo {
    width: 24px;
    animation: shake 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
  }

  .welcome {
    font-size: 20px;

    @media (min-width: 320px) {
      font-size: 22px;
    }

    @media (min-width: 768px) {
      font-size: 45px;
    }
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}