.opening {
  height: 100%;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    padding: 50px;
  }

  .hi {
    font-size: 16px;

    @media (min-width: 320px) {
      font-size: 17px;
    }

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  .welcome {
    font-size: 20px;

    @media (min-width: 320px) {
      font-size: 22px;
    }

    @media (min-width: 768px) {
      font-size: 45px;
    }
  }
}