.home {
 background-color: #ffffff;
}

.home .wrapper {
  height: 100vh;
  max-height: 100%;
  background-color: #ffffff;

  .content {
    // left: 50%;
    // top: 50%;
    // position: absolute;
    // transform: translate(-50%, -50%);
    // max-height: 90%;
    // width: 60%;

    // @media (min-width:768px) {
    //   display: flex;
    //   align-items: center;
    //   max-height: unset;
    //   width: unset;
    // }
  }

  .wrapperDetail {
    height: calc(100vh - 310px);
    background-color: #2e3947;
    position: relative;
    // background-image: url('/backgroundv2.svg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;

    // @media (min-width:768px) {
    //   background-position: unset;
    // }
  }

  .wrapperConsole {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: #272727;
  }

  .wrapperConsole .console {
    width: 100%;
    height: 300px;
    background-color: #272727;
    border-radius: 0px;
    padding: 0 30px;
    position: relative;
    overflow-y: scroll;
    color: #ffffff;

    pre {
      position: relative;

      &:before {
        content: ">";
        position: absolute;
        left: -10px;
      }
    }

    .inputView {
      width: 100%;
      word-break: break-word;
      display: block;
      font-family: monospace;
      white-space: pre;

      position: relative;

      &:before {
        content: ">";
        position: absolute;
        left: -10px;
      }

      textarea {
        color: #ffffff;
        background-color: #272727;
        border: none;
        resize: none;
        font-family: 'Courier New', Courier, monospace;
        overflow: auto;
        width: 0px;
        height: 0px;
        opacity: 0;
      }
  
      textarea:focus {
        border: none;
        outline: none;
      }

      .cursorText {
        position: relative;
        color: #272727;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          left: 0;
          animation: blink 1s infinite;
        }
      }
    }

  }


  .content .photo {
    max-width: 140px;
    margin: auto;
    
    img {
      box-shadow: -5px 4px 19px 8px rgba(0, 0, 0, 0.25);
      border-radius: 20%;
      width: 100%;
    }

    @media (min-width:768px) {
      max-width: 260px;
    }
  }

  .content .text {
    font-family: 'Sora', sans-serif;
    color: #2E2B2B;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    text-align: center;

    @media (min-width:768px) {
      font-size: 20px;
      line-height: 30px;
      margin-left: 50px;
      margin-top: unset;
      text-align: left;
    }

    .highlight {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      text-shadow: 0px 2px 2px rgba(165, 165, 165, 0.44);

      @media (min-width:768px) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}

@keyframes blink {
  0% {
    background-color: #ffffff;
  }
  49% {
    background-color: #ffffff;
  }
  51% {
    background-color: #272727;
  }
  100% {
    background-color: #272727;
  }
}