.home {
 background-color: #ffffff;
}

.home .wrapper {
  height: 100vh;
  max-height: 100%;
  background-image: url('/backgroundv2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width:768px) {
    background-position: unset;
  }

  .content {
    // left: 50%;
    // top: 50%;
    // position: absolute;
    // transform: translate(-50%, -50%);
    // max-height: 90%;
    // width: 60%;

    // @media (min-width:768px) {
    //   display: flex;
    //   align-items: center;
    //   max-height: unset;
    //   width: unset;
    // }
  }

  .content .console {
    width: 100%;
    height: 300px;
    background-color: #272727;
    border-radius: 0px;
    padding: 0 30px;
    position: relative;
    overflow-y: scroll;
    color: #ffffff;

    .inputView {
      width: 100%;
      word-break: break-word;

      textarea {
        color: #ffffff;
        background-color: #272727;
        border: none;
        resize: none;
        font-family: 'Courier New', Courier, monospace;
        overflow: auto;
        width: 0px;
        height: 0px;
      }
  
      textarea:focus {
        border: none;
        outline: none;
      }
    }

  }


  .content .photo {
    max-width: 140px;
    margin: auto;
    
    img {
      box-shadow: -5px 4px 19px 8px rgba(0, 0, 0, 0.25);
      border-radius: 20%;
      width: 100%;
    }

    @media (min-width:768px) {
      max-width: 260px;
    }
  }

  .content .text {
    font-family: 'Sora', sans-serif;
    color: #2E2B2B;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    text-align: center;

    @media (min-width:768px) {
      font-size: 20px;
      line-height: 30px;
      margin-left: 50px;
      margin-top: unset;
      text-align: left;
    }

    .highlight {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      text-shadow: 0px 2px 2px rgba(165, 165, 165, 0.44);

      @media (min-width:768px) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}