body {
    background-color: #3c2803;
}

.boxNavbar {
    background-color: #3c2803 !important;
}

.containerNavbar {
    justify-content: space-between;
}

.MuiToolbar-gutters {
    padding: 0px !important;
}

.desktopMenu a{
    text-decoration: none;
    color: #fff;
}

.desktopMenu a:hover{
    color: #ffc457;
}

@media only screen and (max-width: 600px) {
    .desktopMenu {
      display: none;
    }
}

.mobileMenu {
    display: none;
}

.mobileMenu a button{
    color: #fbf6f2cf !important;
}

@media only screen and (max-width: 600px) {
    .mobileMenu {
        display: contents;
    }

}

.image404 {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .image404 {
        width: 80%;
    }

}